.container {
  width: 100%;
  height: 100%;
  animation: background-animate 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite forwards;
  background: url('https://images.unsplash.com/photo-1663970206579-c157cba7edda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=120&q=10') cover center;
  border-radius: 50%;
  position: fixed;
  inset: 0;
  transform: translate(0, 0);
  will-change: transform;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 30rem;
    height: 20rem;
    opacity: 0.5;
    background: #9f2ac8;
    border-radius: 20%;
    animation: background-animate 8s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite,
      around 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite reverse;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 10rem;
    height: 70rem;
    background: #9e6bff;
    border-radius: 50%;
    transform: translateX(10rem);
    animation: background-animate 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite,
      around 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  }
}

@keyframes background-animate {
  from {
    transform: rotate3d(0, 0, 10, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 10, 360deg);
  }
}

@keyframes around {
  from {
    transform: translate3d(10, 20, 30) rotate3d(0, 0, 10, 0deg);
  }
  to {
    transform: translate3d(10, 20, 0) rotate3d(0, 0, 1, 360deg);
  }
}
