.container {
  width: 100%;
  height: 100%;
  max-width: 22rem;
  max-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: var(--background-secondary);
  border-right: 1px solid var(--element-active);

  @media (max-width: 767px) {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .2s ease;
    z-index: 10;

    &[data-open="true"] {
      transform: translateX(0);
    }
  }
}

.header {
  padding-top: 1rem;

  > button {
    margin-left: 1rem;
  }

  @media (min-width: 768px) {
    > button {
      display: none;
      visibility: hidden;
    }
  }
}

.content {
  max-height: calc(100vh - 12.5rem - 4.5rem);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--background-secondary);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
    border-radius: 0.5rem;
  }

  @media (min-width: 768px) {
    max-height: calc(100vh - 6rem - 4.5rem);
  }

  .lists {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 4.5rem;
    padding: 0.5rem 0;
    overflow-y: auto;

    &:not(:last-child) {
      border-bottom: 1px solid var(--element-active);
    }

    > a {
      display: flex;
      align-items: center;
      font-size: small;
      color: var(--text-sidebar);
      padding: 1rem;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 0.2rem;
        height: 100%;
        background: linear-gradient(0deg, var(--transparent) 0%, var(--transparent) 50%, var(--transparent) 100%);
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-100%) scale(0);
        transition: background .5s ease;
      }

      &[data-current="true"] {
        background-color: var(--element-hover);

        &::after {
          background: linear-gradient(0deg, var(--transparent) 0%, var(--primary-400) 50%, var(--transparent) 100%);
          transition: background .5s ease, transform .25s ease;
          transform-origin: left;
          transform: translateX(0) scale(1);
        }
      }

      &:hover {
        background-color: var(--element-hover);
      }

      &:active {
        background-color: var(--element-active);
      }
    }
  }
}

.footer {
  width: 100%;
  height: 4.5rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  border-top: 1px solid var(--element-active);

  button {
    min-width: 4rem;
  }

  .buttonNewCollection {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    text-align: start;

    > svg {
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      stroke: var(--current);
    }
  }

  .buttonNewGroup {

    > svg {
      width: 100%;
      height: 100%;
      padding: 1rem;
      stroke: var(--current);
    }
  }
}
