:root {
  font-size: 62.5%;
  --transparent: transparent;
  --current: currentColor;
  --black: #000;
  --white: #fff;
  --primary-50: #eef2ff;
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-300: #a5b4fc;
  --primary-400: #818cf8;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --primary-800: #3730a3;
  --primary-900: #312e81;
  --secondary-50: #f5f3ff;
  --secondary-100: #ede9fe;
  --secondary-200: #ddd6fe;
  --secondary-300: #d8b4fe;
  --secondary-400: #c084fc;
  --secondary-500: #a855f7;
  --secondary-600: #9333ea;
  --secondary-700: #7e22ce;
  --secondary-800: #6b21a8;
  --secondary-900: #581c87;
  --element-hover: rgba(0, 0, 0, 0.1);
  --element-active: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --background-primary: #ffffff;
  --background-secondary: #f5f5f3;

  --text: #252525;
  --text-secondary: #696969;
  --text-sidebar: #858585;

  --skeleton-from: hsl(200, 20%, 80%);
  --skeleton-to: hsl(200, 20%, 95%);
}

[data-theme="dark"] {
  --background-primary: #202020;
  --background-secondary: #272727;

  --text: #ececec;
  --text-secondary: #8a8a8a;
  --text-sidebar: #aaaaaa;

  --skeleton-from: hsl(200, 20%, 20%);
  --skeleton-to: hsl(200, 20%, 15%);
}
