.container {
  background-color: transparent;
  border: 0;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.2s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: var(--element-hover);
    transition-timing-function: ease-in;
  }

  &:active {
    background-color: var(--element-active);
    transition-timing-function: ease-in;
  }
}
