.container {
  position: relative;
  padding: 1rem;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: background 0.2s ease-in-out;
  }

  &:active {
    background: rgba(0, 0, 0, 0.2);
    transition: background 0.2s ease-in-out;
  }
}

.userinfo {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  > .content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.4rem;

    p {
      color: var(--text);
      width: 100%;
      white-space: nowrap;
      line-height: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .username {
      font-size: 1.4rem;
      font-weight: 500;
    }
    .useremail {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.options {
  width: 100%;
  background-color: var(--background-primary);
  border-radius: 0.5rem;
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0) translateY(-100%);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform;
  z-index: 10;

  &[data-open='true'] {
    opacity: 1;
    transform: scaleY(1) translateY(0.5rem);
    transition-timing-function: ease-in;
  }

  > .option {
    border-bottom: 1px solid var(--element-hover);
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;

    &:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 0.5rem 0.5rem;
    }

    &:hover {
      background-color: var(--element-hover);
    }

    &:active {
      background-color: var(--element-active);
    }
  }
}

.underlay {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;

  &[data-open='true'] {
    display: block;
  }
}
