* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

body {
  background: #c5d1dd;
  font-family: Arial, Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #2A30C8;
  --primary-accent: #1A089D;
  --secondary: #9F2AC8;
  --secondary-accent: #5a1872;

  --textcolor: #545454;
  --textcolor-dark: #2b2b2b;
  --textcolor-light: #616161;

  --background: #474B5A;
  --background-contrast: #f7f7f7;

  --border-color: #dedede;
  --shadow-color: #00000021;
}
