.container {
  position: relative;
  border: 1px dashed white;
}

.options {
  width: 100%;
  background-color: var(--primary-800);
  border-radius: 0.5rem;
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
  z-index: 10;

  &[data-open='true'] {
    transform: scaleY(1) translateY(0.5rem);
  }

  &[data-open='false'] {
    transform: scaleY(0);
  }

  > .option {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--primary-900);
    cursor: pointer;

    &:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 0.5rem 0.5rem;
    }

    &:hover {
      background-color: var(--primary-900);
    }

    &:active {
      background-color: var(--primary-700);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--primary-800);
  }
}

.underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1;

  display: none;

  &[data-open='true'] {
    display: block;
  }
}
